@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    &__title {
        @include section-title;
    }
    &__border {
        @include small-border;
    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 8rem;
        }
    }
    &__card {
        background-color: rgba(66, 66, 66, 0.9);
        margin-bottom: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        border-radius: 10px;
        padding: 1rem 0;
        @include tablet {
            width: 30%;
        }
    }
    &__item {
        list-style: none;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__name {
        text-align: center;
        color: $background-color;
        font-size: 1.25rem;
        letter-spacing: 2px;
    }
}